<div class="container" >
    
 <div class="row no-gutters" >

      <div class="col-6" *ngIf="items.length">

        <h2>Cart</h2>
        <ul *ngFor="let product of items" >
            <li>
              <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="{{ product.url }}" alt="{{ product.name }}" class="card-img-top"  />
                        </div>
                    </div>
        
                    <div class="col-md-8">
                      <div class="card-body" >
        
                        <h5 class="card-title">
                            {{ product.name }}
                        </h5>
        
                        <p class="card-text">
                            Quantity: {{ product.quantity }}
                        </p>
    
                        <p>Amount: {{ product.amount | currency }}</p>
    
                        <br />
                      
                        <div>
                            <button  class="btn btn-primary" (click)="removeItem(product)">Remove to cart</button>
                        </div>
                      
        
                        </div>
                    </div>
                </div>
              </div>
            </li>
            
        </ul>
        <div *ngIf="total"><h2>Total: {{ total | currency }} </h2></div>

    </div>
    <ng-template #elseBlock><h1>Cart is Empty</h1></ng-template>

    <div class="col-6 centering margn" *ngIf="items.length">
        <h2>Payment Form</h2>
        <form (ngSubmit)="1" >
            <input type="text" id="name" name="name" required minlength="8" [(ngModel)]="creditCard.holderName" #name="ngModel" placeholder="Customer Name">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
        
                <div *ngIf="name.errors?.required">Customer Name is Required</div>
                <div *ngIf="name.errors?.minlength">Customer Name must be at least 8 characters long</div>

            </div>
            
            <br/>
            
            <input type="text" id="cardNumber" name="cardNumber" required minlength="12" [(ngModel)]="creditCard.cardNumber" #cardNumber="ngModel" placeholder="Credit Card Number" >
            <div *ngIf="cardNumber.invalid && ( cardNumber.dirty || cardNumber.touched )">
                <div *ngIf="cardNumber.errors?.required">Credit Card Number is required</div>
                <div *ngIf="cardNumber.errors?.minlength"></div>
            </div>

            <br/>
            <br/>

            <input type="text" placeholder="Expiry Date">
            <input type="text" placeholder="Security Code">
            <br>
            <br>
            <button class="btn-success" type="submit">Pay Now</button>
        </form>
    </div>

 </div> 
    
    
</div>
   