<div class="container" >
    
 <div class="row no-gutters" >

      <div class="col-6" *ngIf="items.length; else elseBlock">

        <h2>Cart Item(s)</h2>
        <ul *ngFor="let product of items" >
            <li>
              <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="{{ product.url }}" alt="{{ product.name }}" class="card-img-top"  />
                        </div>
                    </div>
        
                    <div class="col-md-8">
                        <div class="card-body" >
        
                                <h5 class="card-title">
                                    {{ product.name }}
                                </h5>
                
                                <p class="card-text">
                                    Quantity: {{ product.quantity }}
                                </p>
            
                                <p>Amount: {{ product.amount | currency }}</p>
            
                                <br />
                            
                                <div>
                                    <button  class="btn btn-primary" (click)="removeItem(product)">Remove to cart</button>
                                </div>
                      
                        </div>
                    </div>
                </div>
              </div>
            </li>
            
        </ul>
        <div *ngIf="total"><h2>Total: {{ total | currency }} </h2></div>

    </div>
    <ng-template #elseBlock><h1>Cart is Empty</h1></ng-template>

    <div class="col-6" *ngIf="items.length">
       <div class="container div_pad">
        <h2>Payment Form</h2>
        <form (ngSubmit)="payItem()" #creditCardForm="ngForm">
                <div class="col">
                    <div class="col">

                        <label for="">Card Holder Name:</label>
                        <br />
                        <input type="text" id="name" name="name" required minlength="8" [(ngModel)]="creditCard.holderName" #name="ngModel" placeholder="Customer Name">
                        <ng-container *ngIf="name.errors && name.dirty && name.touched ">
                    
                            <div *ngIf="name.errors?.required">Customer Name is Required</div>
                            <div *ngIf="name.errors?.minlength">Customer Name must be at least 8 characters long</div>

                        </ng-container>

                    </div>
                    
                    <br/>
                    
                    <div class="col">

                        <label for="">Card Number:</label>
                        <br />
                        <input type="text" id="cardNumber" pattern="[0-9]{16}"  name="cardNumber" required minlength="16" maxlength="16" [(ngModel)]="creditCard.cardNumber" #cardNumber="ngModel" placeholder="Credit Card Number" >
                        <ng-container *ngIf="cardNumber.errors &&  cardNumber.dirty && cardNumber.touched  ">
                            <div *ngIf="cardNumber.errors?.required">Credit Card Number is required</div>
                            <div *ngIf="cardNumber.errors?.minlength">Card Number is 16 digit long</div>
                            <div *ngIf="cardNumber.errors?.pattern">Invalid Card Number: XXXX XXXX XXXX XXXX</div>
                        </ng-container>

                    </div>
                </div>
            
            <br/>

            <div class="col">

                <div class="col">
                    <label for="">Expiry Date: ( MM/YY )</label>
                    <br />
                    <input type="text" size="8" id="expiryDate" pattern="^(0[0-9]|1[0-2])\/(\d{2})$" name="expiryDate" required [(ngModel)]="creditCard.expiryDate" #expiryDate="ngModel" placeholder="MM/YY">
                    <ng-container *ngIf="expiryDate.dirty && expiryDate.touched && expiryDate.errors ">
                        <div *ngIf="expiryDate.errors?.required">Expiry Date is required</div>
                        <div *ngIf="expiryDate.errors?.pattern">Invalid format expiry date: MM/YY</div>
                    </ng-container>

                    
                </div>

                <div class="col">
                    <label for="">Security Code:</label>
                    <br />
                    <input type="text" size="6" pattern="[0-9]{3}" id="securityCode" name="securityCode" required minlength="3" maxlength="3" [(ngModel)]="creditCard.securityCode" #securityCode="ngModel" placeholder="Security Code ###">
                    <ng-container *ngIf="securityCode.errors && securityCode.dirty && securityCode.touched ">
                        <div *ngIf="securityCode.errors?.required">Security code is required</div>
                        <div *ngIf="securityCode.errors?.minlength">Security code length is three digit</div>
                        <div *ngIf="securityCode.errors?.pattern">Only digits please</div>
                    </ng-container>
                    
                </div>

            </div>

            <br>
        
            
                
                <div class="col">
                    <button [disabled]="creditCardForm.invalid" class="btn-success" type="submit" >Pay Now</button>
                </div>
                
        </form>
    </div>
  </div> 
 </div> 
    
    
</div>
   