<div class="container">
    
        <div class="row no-gutters" *ngIf="product">
            
            <div class="col">
                <div class="card">
                    <img src="{{ product.url }}" alt="{{ product.name }}" class="card-img-top"  />
                </div>
            </div>
    
            <div class="col">
                <div class="card-body" >
    
                    <h5 class="card-title">
                        {{ product.name }}
                    </h5>
    
                    <p class="card-text">
                        {{ product.description }}
                    </p>

                    <br />
                  <form (ngSubmit)="addToCart(product)">
                    <div class="card-text">
                    
                        <select [(ngModel)]="quantity" name="quantity" id="quantity">
                            <option *ngFor="let quantity of quantities"  [value]="quantity">{{ quantity }}</option>
                        </select>

                    </div>

                    <br />
    
                    <div>
                        <button type="submit" class="btn btn-primary">Add to cart</button>
                    </div>
                  </form>
                    <div>
                        <a class="card-link" (click)="onBack()" >&larr; Back to Product List</a>
                    </div>
    
                </div>
            </div>
    
        </div>
    
</div>

