<!-- <app-product-card *ngFor="let product of products" [product]="product" ></app-product-card>
-->
<ul *ngFor="let product of products">
    
  <li class="card mb-4 form-group" *ngIf="product">
      
        <a [routerLink]="['/product', product.id]"> <img src="{{ product.url }}" alt="{{ product.name }}" class="card-img-top"  /> </a>
     
        <div class="card-body">
            
             <h5 class="card-title">{{ product.name }}</h5>
            
             <p>{{ product.price | currency }}</p>
               
          <form>

            <select [(ngModel)]="product.quantity" name="quantity" id="quantity" required >
              <option *ngFor="let quan of quantities"  [ngValue]="quan" >{{ quan }}</option>
            </select>
            {{ product.quantity }}
            <br />
            <div>
              <button (click)="addToCart(product)" class="btn btn-primary" >Add to cart</button>
            </div>
             {{ product | json}}
            
          </form>
        
        </div>
     
    </li>
 
</ul>